.sec-2-title {
   

    .title {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px;

        // .line {
        //     width: 500px;
        //     height: 3px;
        //     margin: 100px;
        //     background: red;
        // }
    }
}