// moblie nav btn
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 50px;
    cursor: pointer;
    transition: all 0.5s ease-out; 

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: red;
      transition: all 0.5s ease-out; }

    &.close {
      transform: rotate(180deg); }

      &.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }

      &.close .btn-line:nth-child(2) {
        opacity: 0; }

      &.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
}

// **** menu

.menu {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: $moblieMenuBGColor;
  height: 100vh;
  transition: opacity 1s ease-out;
  
  
  
  &.show {
    visibility: visible;
    opacity: 1;

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  li {
    list-style: none;
    color: #fff;
    
  }

  a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .menu-branding {
    background-color: rgba($color: #faf6f6, $alpha: 1.0);
    width: 100vw;
    border: 2px $mainColor solid;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portrait {
    max-width: 300px;
    
    img {
      border-radius: 50%;
      height: 30vh;
      width: 100%;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

   
    &.show {
      // slide in from 
      transform: translate3d(0, 0, 0);
    }

    &:nth-child(1) {
      padding-top: 15px;
    }
  }


}

.nav-link {

   &.current {
      color: $mainColor;
    }

}


@for $x from 1 through 8 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
