.hero-container {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    background: url(/img/Hero2.jpg)no-repeat center center/cover;
    height: 100vh;

    .btn {
        background-color: $btnColor;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        font-size: 1rem;
    
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    

    h1 {
       color: #fff; 
       font-family: $heroFont;
       font-size: 4rem;
    //    margin-right: 700px;
       animation: slideInFromTheLeft 2s ease-in-out;
       transform: rotate(-20deg);
    }

    .hero-btn {
        margin-top: 50px;
        animation: fadeIn 4s ease-in-out;

    }
}